/* шрифты таймера */
@font-face {
	font-family: "bebas";
	font-display: swap;
	font-style: normal;
	font-weight: 400;

	src: url('../fonts//bebasneue-book-webfont.woff') format('woff'),
		url('../fonts/bebasneue-book-webfont.woff2') format('woff2');

  }

  /* шрифты eCommerce */

  @font-face {
	font-family: "poppins";
	font-display: swap;
	font-style: normal;
	font-weight: 400;

	src: url('../fonts/Poppins-Regular.woff') format('woff'),
		url('../fonts/Poppins-Regular.woff2') format('woff2');

  }

  @font-face {
	font-family: "poppins";
	font-display: swap;
	font-style: normal;
	font-weight: 700;

	src: url('../fonts/Poppins-Bold.woff') format('woff'),
		url('../fonts/Poppins-Bold.woff2') format('woff2');

  }