
@import './reboot.css';
@import './fonts.css';
@import './variables.css';

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
}

a,
.green {
  position: relative;
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  padding: 3px;
}

a::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 1px;
	width: 0;
	background-color: hsla(160, 100%, 37%, 1);
	transition: all 0.4s;
}

@media (hover: hover) {

	a:hover {
		opacity: 0.7;
	}

  a:hover::after {
	width: 100%;
  }
}

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(----background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-purple);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--grey); 

}