:root {
	--white: #fff;
	--black: #000;

	--circle-green: #09a65a;
	--circle-red: #f11616;

	--background-color: #eff0f6;
	--border-color: #d7d6fc;
	--primary-purple: #6b00f5;
	--pattens-blue: #e1f0fe;
	--ghost-white: #f7f7ff;
	--white-ice: #defef0;
	--grey: #e5e5e5;
}